body {
    padding: 0;
    margin: 0;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    list-style: none;
    display: inline;
    margin-left: 15px;
}

.container main {
    padding: 15px;
}