* {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    width: 300px;
}