<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'adminPanel/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'adminPanel/css/mainMenu.css' %}" />
  </head>
  <body>
    {% include "adminPanel/layouts/header.html" %}
    <main>
      <h1>Menu Principal</h1>
      <div class="optionsContainer">
        <h2>Opciones:</h2>
        <ul>
          {% for opcion in mainMenuOptions %}
          <li>
            <a href="{% url opcion.ruta %}" class="optionsBtn">{{ opcion.nombre }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
