<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión Académica</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'adminPanel/css/login.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <h1>Gestión Académica</h1>
      <hr />
      <h2>Iniciar sesión</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_usuario">Usuario:</label>
          {{ form.usuario }}
        </div>
        <div class="form-group">
          <label for="id_password">Contraseña:</label>
          {{ form.password }}
        </div>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <button type="submit">Ingresar</button>
      </form>
    </main>
  </body>
</html>
