<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Materias</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'adminPanel/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'adminPanel/css/materias.css' %}" />
  </head>
  <body>
    {% include "adminPanel/layouts/header.html" %}
    {% include "adminPanel/partials/materias_main.html" %}
  </body>
</html>