.tableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer table {
  border-spacing: 8px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: transparent;
}

.tableContainer th {
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.tableContainer td {
  text-align: center;
  padding: 5px;
}

.tableContainer .id {
  font-weight: bold;
}

.tableContainer .nombre {
  text-transform: capitalize;
}

.tableContainer .acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tableContainer .addNew {
    padding: 5px 20%;
}

/* Oculta el input y el botón de guardar por defecto */
.edit-form {
  display: none;
}
.edit-toggle:checked ~ .edit-form {
  display: inline-block;
  position: absolute;
  background: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
