.tableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer table {
  border-spacing: 8px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: transparent;
}

.tableContainer th {
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.tableContainer td {
  text-align: center;
  padding: 5px;
}

.tableContainer .id {
  font-weight: bold;
}

.tableContainer .nombre {
  text-transform: capitalize;
}

.tableContainer .acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tableContainer .addNew {
  padding: 5px 20%;
}

.addNew form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addNew input,
.addNew select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.addNew button {
  height: 100%;
}
