.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.optionsContainer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
  list-style: none;
  padding: 0;
  place-items: center;
}

.optionsContainer li {
  margin: 8px 0;
}
